@font-face {
    font-family: 'bein-normal';
    src: url('https://www.fontstatic.com/fonts/bein-normal/bein-normal.eot?#iefix');
    src: local('بي ان BEIN'), local('bein-normal'), url('https://www.fontstatic.com/fonts/bein-normal/bein-normal.woff') format('woff');
}